[submodule "dependencies/CBS-beta"]
	path = dependencies/CBS-beta
	url = https://github.com/plancomps/CBS-beta
[submodule "dependencies/funcons-tools"]
	path = dependencies/funcons-tools
	url = https://github.com/plancomps/funcons-tools
[submodule "dependencies/funcons-intgen"]
	path = dependencies/funcons-intgen
	url = https://github.com/plancomps/funcons-intgen
[submodule "dependencies/uu-cco"]
	path = dependencies/uu-cco
	url = https://github.com/ltbinsbe/uu-cco
